%flex-center {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

%flex-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}