@use '../abstracts/variables' as vars;

.fade-in-up {
    opacity: 0;
    transform: translateY(10rem);
    transition: vars.$transition;

    &.animated {
        opacity: 1;
        transform: translateY(0);
    }
}

.SVG-animation {

    @each $key, $stroke in vars.$stroke-letter {
        .#{$key} { 
            stroke-dasharray: $stroke;
            stroke-dashoffset: $stroke;
        }
    }

    @each $key, $time in vars.$time-stroke {
        .#{$key} { 
            animation: brandname-animation 2s ease forwards $time;
        }
    }
    
    @keyframes brandname-animation {
        to {
            stroke-dashoffset: 0;
        }
    }
}