---
layout: base
tags: 
    - about
    - contact
---


<section class="about-contact__container horizontal__layout" role="main">
    <img class="about-contact__container__image" src="/assets/img/about-contact/{{ img }}">

    <article class="about-contact__container__content" role="content">
        {{ content | safe }}
    </article>

</section>
